@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --colorPrincipal: #47e84f;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.cabecera {
    height: 300px;
    background: linear-gradient(
        rgba(71,232,79,.3), 
        rgba(71,232,79,.3)
      ), url(./imagenes/cabecera.jpg) center center no-repeat;
  background-size: cover;
}

.cabecera h1 {
    padding-top: 100px;
    text-shadow: 5px 5px 5px black;
    color: yellow;
    font-weight: bold;
 }

.cabecera h3 {
    text-shadow: 5px 5px 5px black;
    color: yellow;
 }

footer {
    padding-top: 20px;
    color: white;
}

.card {
    margin: 1em;
    width: 18rem;
    box-shadow: 1em 1em 1em grey;
    background: var(--colorPrincipal);
    border: 1px solid black;
    border-radius: 1em;
}

.cards {
    padding-top: 50px;
}

.btn-primary {
    box-shadow: 5px 5px 5px black;
    border: 1px solid black;
    border-radius: 1em;

}

.btn-primary:hover {
    background: blueviolet;
    scale: 1.2;
}

.logo {
    width: 5em;
}


.imgFicha {
    width: 100px;
    height:100px;
}

#myInput {
    margin-top: 100px;
    margin-bottom: 20px;
}


.lineas {
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}



